h3 {
 color: red;
 font-size: 30px;
}

/* h4{
 color: bisque;
 font-size: 35px ;
} */

#title{
 color: aquamarine;
 background: violet;
}

.blue{
 color: blue;
 background: red;
}

.uppercase{
 text-transform: uppercase;
}

/* div{
color: blue;
 background: red;
} */

span{
 text-transform: uppercase;
}

.text{
 background: wheat;
 color: brown;
}